@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
html {
  scroll-behavior: smooth;
}

:root {
  --layer-1: #ef476f;
  --layer-2: #ffc43d;
  --layer-3: #06d6a0;
  --layer-4: #1b9aaa;
  --header: #f8ffe5;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
#bg {
  width: 100%;
  max-height: 3000px;
  position: absolute;
  top: 50px;
  z-index: -1;
}
nav {
  background-color: var(--header);
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

nav ul li a {
  text-decoration: none;
  color: var(--layer-1);
  font-family: "Balsamiq Sans", sans-serif;
  padding: 4vw;
  font-size: 20px;
  transition: all 0.5s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#work-link:hover {
  color: var(--layer-2);
}
#about-link:hover {
  color: var(--layer-3);
}
#contact-link:hover {
  color: var(--layer-4);
}
.layer {
  width: 100%;
}
#layer-1 {
  height: 700px;
}
#layer-2 {
  height: 700px;
}
#layer-3 {
  height: 750px;
}
#layer-4 {
  height: 750px;
}
.title-card {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#title-img {
  padding-top: 100px;
  width: 500px;
  margin: auto;
}
.hero {
  margin: auto;
  color: var(--header);
  width: 400px;
}
#work-title {
  padding-top: 100px;
  margin: 0 0 0 14vw;
  font-family: "Fredoka One", sans-serif;
  color: var(--layer-1);
  font-size: 60px;
}
#about-title {
  font-family: "Fredoka One", sans-serif;
  color: var(--layer-4);
  font-size: 60px;
  padding-top: 100px;
  margin: 0 5vw 0 0;
  text-align: right;
}
#info {
  margin-top: 30px;
}
#portrait {
  margin: auto;
}
#about-content {
  font-family: "Balsamiq Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: auto;
}
.about-photos {
  margin-top: -20px;
  width: 340px;
  height: 100%;
}
.about-photos2 {
  width: 350px;
  height: 100%;
  display: none;
  margin-bottom: 0px;
  padding: 0;
}
.accordion {
  background-color: var(--layer-4);
  color: var(--header);
  cursor: pointer;
  padding: 16px;
  width: 300px;
  transition: 0.2s;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.active {
  color: black;
  background-color: var(--layer-2);
  border-radius: 8px 8px 0 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (hover: hover) {
  .accordion:hover {
    background-color: var(--layer-2);
    color: black;
  }
}
.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: #fff;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
.panel {
  padding: 16px;
  background-color: var(--header);
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 300px;
  margin: auto;
  border-radius: 0 0px 8px 8px;
}
.panel ul li {
  list-style: none;
}
span {
  font-size: 15px;
  color: #167f8d;
}
.testimonials-label {
  margin-top: -50px;
  color: #3a3642;
  font-family: "Fredoka One", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 3px;
}
.testimonials {
  position: relative;
  width: 600px;
  margin: auto;
  background-color: var(--layer-4);
  border-radius: 30px;
  height: 100px;
  display: flex;
  z-index: 0;
}

.mySlides {
  margin: auto;
  display: none;
  width: 500px;
  font-size: 18px;
  font-family: "Balsamiq Sans", sans-serif;
  text-align: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: var(--layer-2);
  width: auto;
  margin-top: -30px;
  padding: 16px;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
/*
.prev:hover,
.next:hover {
  background-color: rgba(255, 196, 61, 1);
  color: var(--header);
}
*/
.dot-container {
  text-align: center;
  padding: 15px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: var(--layer-2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.active_dot,
.dot:hover {
  background-color: var(--header);
}
q {
  font-style: italic;
  color: var(--header);
}
.author {
  color: var(--layer-2);
}
#contact-title {
  color: var(--header);
  font-family: "Fredoka One", sans-serif;
  font-size: 60px;
  text-align: center;
  color: var(--header);
  margin-top: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
  background-color: #3a3642;
  color: var(--header);
  font-family: sans-serif;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
.footer a i {
  padding: 6px;
  font-size: 20px;
  color: var(--header);
  transition: all 0.5s ease;
}
@media (hover: hover) {
  .footer a i:hover {
    color: var(--layer-1);
  }
}

.social a {
  color: var(--header);
  text-decoration: none;
  padding: 5px;
  font-size: 25px;
}

@media all and (max-width: 736px) {
  /*TITLE*/
  #title-img {
    width: 400px;
  }
  .hero {
    width: 400px;
  }
  /*ABOUT*/
  #about-title {
    font-size: 30px;
  }
  .about-photos {
    display: none;
  }
  .about-photos2 {
    display: block;
    margin: 0 auto;
  }
  #about-content {
    flex-direction: column-reverse;
    width: 400px;
    margin: 30px auto;
    text-align: center;
  }
  #info {
    width: 400px;
    margin-top: 10px;
  }

  .testimonials-label {
    margin-top: -40px;
  }
  .testimonials {
    width: 400px;
  }
  .mySlides {
    width: 300px;
    font-size: 17px;
  }
  .dot-container {
    padding-top: 5px;
  }
  .dot {
    width: 12px;
    height: 12px;
  }
}
