@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
:root {
  --layer-1: #ef476f;
  --layer-2: #ffc43d;
  --layer-3: #06d6a0;
  --layer-4: #1b9aaa;
  --header: #f8ffe5;
}
.content {
  background-color: var(--layer-4);
}
h1 {
  color: var(--header);
  font-family: "Fredoka One", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}
