@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --layer-1: #ef476f;
  --layer-2: #ffc43d;
  --layer-3: #06d6a0;
  --layer-4: #1b9aaa;
  --header: #f8ffe5;
}

.bg {
  background: #1b9aaa;
  background: -moz-linear-gradient(top, #1b9aaa 0%, #4170d5 100%);
  background: -webkit-linear-gradient(top, #1b9aaa 0%, #4170d5 100%);
  background: linear-gradient(to bottom, #1b9aaa 0%, #4170d5 100%);
  min-height: 100vh;
  display: flex;
}
.content {
  margin: auto;
  text-align: center;
  font-family: "Balsamiq Sans", sans-serif;
  color: var(--header);
  position: relative;
}
img {
  max-width: 500px;
  margin-bottom: 10px;
}
.content h2 {
  font-size: 50px;
}
.content h4 {
  font-size: 25px;
}
.content h3 {
  font-size: 30px;
  margin-top: 40px;
  color: var(--layer-2);
  margin-bottom: 60px;
}
footer {
  position: relative;
  z-index: 2;
}

@media (max-width: 570px) {
  img {
    max-width: 200px;
  }
  .content h2 {
    font-size: 30px;
  }
  .content h4 {
    font-size: 15px;
  }
  .content h3 {
    font-size: 20px;
    margin-top: 20px;
  }
}
